[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tqdm = "*"
requests = "*"
wordninja = "*"
scikit-learn = "*"
imblearn = "*"
tensorflow = "*"
seaborn = "*"
matplotlib = "*"
keras = "*"
callbacks = "*"
pdpbox = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
